.feature{
  background-color: #140818;

}


.character:hover{
  filter: grayscale(0%);
}

.character p{
  font-size: 20px;
}

.character img{
  margin: auto;
  display: block;
}

.person p{
  margin: 0;
}
.character img{
  max-width: 60%;
  max-height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

hr {
  color: whitesmoke;
  width: 85%;
}

table {
  align-items: center;
}
th, td {
  border-color: aliceblue;
}

body {
  background-color:#16081a;
}

header {
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
}

header h4{
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  text-align: center;
}